*{
        margin: 0;
        padding: 0;
}

body{
    max-width: 1400px;
    height: auto;
    margin-left: 55px;
}

h1, h2, h3, p, ul, a, li{
    font-family: Raleway;
}


a:visited{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
}

/* FLEX COLUMN */

.colonne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FLEX ROW  */

.ligne{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

/* HEADER */

header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* LOGO */

.logo_booki{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo_img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* NAVIGATION */

nav{
    width: 381px;
    height: 100%;
    display: flex;
    align-items: center;    
}


nav ul{
    list-style-type: none;
    font-weight: 400;
}

#lien_navigation{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav li{
    width: 162px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav li a:hover{
    color: #0065FC;
}


nav li:hover:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 162px;
    top: 0px;
    background-color: #0065FC;
    color: #0065FC;
}



/* EN-TETE */
.en-tete{
    display: flex;
    flex-direction: column;
}

/* TITRE */

#titre_principal{
    width: 600px;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#titre_principal h1{
    font-size: 22px;
    font-weight: 700;
}

#titre_principal p{
    font-size: 16px;
    font-weight: 400;
}


/* formulaire */

#formulaire-container{
    width: 360px;
    height: 50px;
}

#apparance-formulaire{
    display: grid;
    grid-template-columns: 10% 60% 30%;
    height: 100%;
}

#apparance-champ{
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    border-left: hidden;
    border-right: hidden;
}

#bouton-recherche{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

input{
    padding-left: 20px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    opacity: 1;
    color: black;
}


input::placeholder {
    font-weight: 700;
    opacity: 1;
    color: black;
}


/* icone */

.centrer-verticalement{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 15px 0px 0px 15px;
}

.fa-solid.fa-location-dot{
    color: black;
    text-align: center;

}


/* filtres */

.filtre{
    width: 914px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.filtre.ligne{
    justify-content: space-between;
}

.filtres-bouton{
    height: 48px;
}

.apparance-filtres{
    width: 175px;
    height: 48px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.apparance-filtres a{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
}

/* changement de couleur hover sur les filtres */

.apparance-filtres:hover{
    background-color: #DEEBFF;
}


/* description filtre */

.bloc-filtre-description{
    align-items: flex-start;
}

.description{
    margin-bottom: 30px;
}

/* cercle icone information */

.cercle{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
}

.fa-solid.fa-info{
    font-size: 12px;
    color: #0065FC;
}

/* section affichage hebergements */

.affichage_hebergements{
    height: 626px;
    display: grid;
    grid-template-columns: 60% 40px 30%;
}


/* affichage hebergements */

.hebergements_ville{
    display: grid;
    grid-template-rows: 20% 60% 20%;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0 30px;
}

.hebergements_ville p:last-child{
    font-weight: 700;
}

.organized_card{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

/* card */


.card{
    height: 180px;
    width: 210px;
    display: grid;
    grid-template-rows: 60% 40%;
    border-radius: 20px;
    background-color: white;
    align-items: flex-start;
    box-shadow: 0px 0px 14px -4px grey;
    margin: 10px 0px;
}

.card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid white;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
}

/* texte de la card */

.text_card{
    margin-left: 16px;
    display: grid;
    grid-template-rows: 10% 40% 40% 40%;
}

.text_card h3{
    font-size: 16px;
    font-weight: 700;
    grid-row: 2;
}

.text_card p{
    font-size: 14px;
    font-weight: 400;
    grid-row: 3;
}

.rate{
    grid-row: 4;
    color: #0065FC;
}

div .rate .fa-solid:last-child{
    color: #D9D9D9;
}



/* section hebergemets populaire */

.hebergements_populaire{
    height: 625px;
    width: 420px;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column: 3;
}

/* titre de la section populaire */

.popular_card_title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa-solid.fa-chart-line{
    color: #0065FC;
}

/* popular card */

.popular_card{
    height: 144px;
    width: 343px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 14px -4px grey;
    display: grid;
    grid-template-columns: 40% 50% 10%;
}

.popular_card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
}

/* texte de la popular card */

.text_popular_card{
    margin-left: 16px;
    display: grid;
    grid-template-rows: 10% 25% 25% 10% 25%;
    align-items: center;
}

.text_popular_card h3{
    font-size: 16px;
    font-weight: 700;
    grid-row: 2;
}

.text_popular_card p{
    font-size: 14px;
    font-weight: 400;
    grid-row: 3;
}

.rate_popular_card{
    grid-row: 5;
    color: #0065FC;
}

.fa-solid.fa-star{
    font-size: 12px;
    color: #0065FC;
}

div .rate_popular_card .fa-solid:last-child{
    color: #D9D9D9;
}

